<table mat-table [dataSource]="dataSource">
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
        <th mat-header-cell *matHeaderCellDef>
            {{ col.label }}
        </th>
        <td mat-cell *matCellDef="let element">
            <div [ngSwitch]="col.type">
                <span *ngSwitchCase="'date'">
                    {{ element[col.key] | date: 'mediumDate' }}
                </span>
                <span *ngSwitchCase="'boolean'">
                    <mat-checkbox [disabled]="true" [checked]="element[col.key]">
                    </mat-checkbox>
                </span>
                <span *ngSwitchDefault>
                    {{ element[col.key] }}
                </span>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<!-- Pagination -->
<mat-paginator *ngIf="isPageable" [length]="dataSource.totalRows$ | async" [pageSizeOptions]="paginationSizes"
    [pageSize]="defaultPageSize" showFirstLastButtons>
</mat-paginator>